ion-header {
    background-color: #f8f8f8; // Light background for header
  }
  
  ion-toolbar {
    background-color: #e0e0e0; // Grey toolbar background
    color: #333; // Dark text color
  }
  
  // Style for the list items
  ion-list {
    margin-top: 20px; // Space above the list
  }
  
  ion-item {
    --background: #f0f0f0; // Light background for list items
    margin-bottom: 10px; // Space between list items
  
    ion-label {
      h2 {
        color: #333; // Dark color for student name
      }
      p {
        color: #666; // Grey color for class text
      }
    }
  
    // Style for the buttons inside ion-item
    ion-button {
      margin-left: 10px; // Space between buttons
      border-radius: 20px; // Rounded corners
  
      &:first-of-type {
        background-color: #007bff; // Primary button color for Update
        color: white; // White text for Update button
      }
  
      &:last-of-type {
        background-color: #dc3545; // Danger button color for Delete
        color: white; // White text for Delete button
      }
    }
  }
  
  // Style for the FAB button
  ion-fab-button {
     // Green background for the add button
    color: white; // White icon color
  
    ion-icon {
      font-size: 24px; // Icon size
    }
  }
  
  // Style for the Go to Home button
  ion-button[routerLink] {
    background-color: #808080; // Grey background
    color: white; // White text color
    border-radius: 20px; // Rounded corners
    margin-top: 10px; // Space above the button
  
    &:hover {
      background-color: darken(#808080, 10%); // Darken on hover
    }
  }
  